@import '../../mixins.scss';
@import '../../functions.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: spacing(medium) spacing(large);
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  line-height: 1;
  color: color(black, 100);

  @include min-width(desktop) {
    margin: spacing(x-large);
  }
}

p,
li {
  margin: spacing(medium) 0;
  line-height: 1.5;
}

a,
a:visited {
  color: color(blue, 100);
  transition: color 180ms linear;
  will-change: color;

  &:hover {
    color: color(pink, 120);
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}
