@import '../../mixins.scss';
@import '../../functions.scss';

.divider {
  margin: spacing(large) 0;
  border-width: 0;
  border-bottom-width: 1px;

  @include min-width(desktop) {
    width: 60%;
    width: calc(100% - (400px + #{spacing(x-large)}));
    margin: spacing(x-large) 0;
  }
}
