@import '../../mixins.scss';
@import '../../functions.scss';

.container {
  flex-grow: 1;
  max-width: 800px;

  &.justify {
    text-align: justify;
  }
}

.heading {
  margin: spacing(large) 0;
  font-size: 1.8em;
}

.subheading {
  margin: spacing(large) 0 0;
  font-size: 1.2em;
}

blockquote {
  border-left: 3px solid color(black, 10);
  padding: spacing(medium) spacing(large);
  margin: spacing(large);

  > p {
    &:first-of-type{
      margin-top: 0;
    }

    &:last-of-type{
      margin-bottom: 0;
    }
  }
}
