@import '../../../mixins.scss';
@import '../../../functions.scss';

.container {
  display: flex;

  @include min-width(desktop) {
    flex-basis: 400px;
    max-width: 400px;
    padding-left: spacing(large);
  }
}
